<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<title>Modificar Colaborador | Conaffex</title>
	
	<link href="../css/global_css/css/bootstrap.css" rel="stylesheet" type="text/css">
	<link href="../css/global_css/css/bootstrap_limitless.css" rel="stylesheet" type="text/css">
	<link href="../css/global_css/css/layout.css" rel="stylesheet" type="text/css">
	<link href="../css/global_css/css/components.css" rel="stylesheet" type="text/css">
	<link href="../css/global_css/css/colors.css" rel="stylesheet" type="text/css">
	<link href="../css/global_css/icons/icomoon/styles.min.css" rel="stylesheet" type="text/css">

	<script src="../js/global_js/js/main/jquery.min.js"></script>
	<script src="../js/global_js/js/main/bootstrap.bundle.min.js"></script>
	<script src="../js/global_js/js/plugins/loaders/blockui.min.js"></script>

	<script src="../js/global_js/js/app.js"></script>
	    
</head>
<body> 

	<!-- Main navbar -->
	<div class="navbar navbar-expand-md navbar-light navbar-static">
		<div class="navbar-brand">
			<a href="index.html" class="d-inline-block">
				<img src="../../../../global_assets/images/logo_light.png" alt="">
			</a>
		</div>

		<div class="d-md-none">
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-mobile">
				<i class="icon-tree5"></i>
			</button>
			<button class="navbar-toggler sidebar-mobile-main-toggle" type="button">
				<i class="icon-paragraph-justify3"></i>
			</button>
		</div>

		<div class="collapse navbar-collapse" id="navbar-mobile">
			<ul class="navbar-nav">
				<li class="nav-item">
					<a href="#" class="navbar-nav-link sidebar-control sidebar-main-toggle d-none d-md-block">
						<i class="icon-paragraph-justify3"></i>
					</a>
				</li>				
			</ul>

			<span class="badge bg-success my-3 my-md-0 ml-md-3 mr-md-auto">En Línea</span>

			<ul class="navbar-nav">						

				<li class="nav-item dropdown dropdown-user">
					<a href="#" class="navbar-nav-link d-flex align-items-center dropdown-toggle" data-toggle="dropdown">
						<img src="../../../../global_assets/images/placeholders/placeholder.jpg" class="rounded-circle mr-2" height="34" alt="">
						<span>Victoria</span>
					</a>

					<div class="dropdown-menu dropdown-menu-right">
						<a href="#" class="dropdown-item"><i class="icon-user-plus"></i> Mi perfil</a>
						<a href="#" class="dropdown-item"><i class="icon-users"></i> Usuarios</a>						 
						<div class="dropdown-divider"></div>
						<a href="#" class="dropdown-item"><i class="icon-cog5"></i> Configuración</a>
						<a href="#" class="dropdown-item"><i class="icon-switch2"></i> Salir</a>
					</div>
				</li>
			</ul>
		</div>
	</div>
	<!-- /main navbar -->


	<!-- Page content -->
	<div class="page-content">

		<!-- Main sidebar -->
		<div class="sidebar sidebar-light sidebar-main sidebar-expand-md">

			<!-- Sidebar mobile toggler -->
			<div class="sidebar-mobile-toggler text-center">
				<a href="#" class="sidebar-mobile-main-toggle">
					<i class="icon-arrow-left8"></i>
				</a>
				Navigation
				<a href="#" class="sidebar-mobile-expand">
					<i class="icon-screen-full"></i>
					<i class="icon-screen-normal"></i>
				</a>
			</div>
			<!-- /sidebar mobile toggler -->


			<!-- Sidebar content -->
			<div class="sidebar-content">

				<!-- Main navigation -->
				<div class="card card-sidebar-mobile">
					<ul class="nav nav-sidebar" data-nav-type="accordion">

						<!-- Main -->
						<li class="nav-item-header"><div class="text-uppercase font-size-xs line-height-xs">Menu</div> <i class="icon-menu" title="Main"></i></li>
						<li class="nav-item">
							<a href="index.html" class="nav-link">
								<i class="icon-home4"></i>
								<span>
									Principal									
								</span>
							</a>
						</li>
						<li class="nav-item nav-item-submenu">
							<a href="#" class="nav-link"><i class="icon-users4"></i> <span>Colaborador</span></a>

							<ul class="nav nav-group-sub" data-submenu-title="Colaborador">
								<li class="nav-item"><a href="add_colaborador.html" class="nav-link">Añadir Colaborador</a></li>
								<li class="nav-item"><a href="modificar_colaborador.html" class="nav-link">Modificar Colaborador</a></li>
							</ul>
						</li>
						<li class="nav-item nav-item-submenu">
							<a href="#" class="nav-link"><i class="icon-stack-picture"></i> <span>Fincas</span></a>

							<ul class="nav nav-group-sub" data-submenu-title="Fincas">
								<li class="nav-item"><a href="add_finca.html" class="nav-link">Añadir Finca</a></li>
								<li class="nav-item"><a href="modificar_finca.html" class="nav-link">Modificar Finca</a></li>
							</ul>
						</li>
						<li class="nav-item nav-item-submenu">
							<a href="#" class="nav-link"><i class="icon-stack"></i> <span>Registro Producción</span></a>

							<ul class="nav nav-group-sub" data-submenu-title="Registro Producción">
								<li class="nav-item"><a href="registro_pro_colaborador.html" class="nav-link">Registro por Colaborador</a></li>
								<li class="nav-item"><a href="registro_pro_finca.html" class="nav-link">Registro por Finca</a></li>								
							</ul>
						</li>
						<li class="nav-item nav-item-submenu">
							<a href="#" class="nav-link"><i class="icon-stack"></i> <span>Consulta Producción</span></a>

							<ul class="nav nav-group-sub" data-submenu-title="Registro Producción">
								<li class="nav-item"><a href="consulta_pro_colaborador.html" class="nav-link">Consulta por Colaborador</a></li>
								<li class="nav-item"><a href="consulta_pro_finca.html" class="nav-link">Consulta por Finca</a></li>								
							</ul>
						</li>
						
						<li class="nav-item"><a href="../../../RTL/dark/full/index.html" class="nav-link"><i class="icon-width"></i> <span>Analytics</span></a></li>
						<!-- /main -->
						
					</ul>
				</div>
				<!-- /main navigation -->

			</div>
			<!-- /sidebar content -->
			
		</div>
		<!-- /main sidebar -->


		<!-- Main content -->
		<div class="content-wrapper">

			<!-- Page header -->
			<div class="page-header border-bottom-0">
				<div class="page-header-content header-elements-md-inline">
					<div class="page-title d-flex">
						<h4><i class="icon-user-plus mr-2"></i> <span class="font-weight-semibold">Añadir Colaborador</span></h4>
						<a href="#" class="header-elements-toggle text-default d-md-none"><i class="icon-more"></i></a>
					</div>					
				</div>
			</div>
			<!-- /page header -->


			<!-- Content area -->
			<div class="content pt-0">

				<!-- Form action components -->			

				<div class="row">
					<div class="col-md-4">
			        	
	                	<!-- Left aligned buttons -->
			            <div class="card">
							<div class="card-header header-elements-inline">
				                <h6 class="card-title">Left aligned buttons</h6>
								<div class="header-elements">
									<div class="list-icons">
				                		<a class="list-icons-item" data-action="collapse"></a>
				                		<a class="list-icons-item" data-action="reload"></a>
				                		<a class="list-icons-item" data-action="remove"></a>
				                	</div>
			                	</div>
							</div>

			                <div class="card-body">
			                	<form action="#">
									<div class="form-group">
										<label>Your name:</label>
										<input type="text" class="form-control" placeholder="Eugene Kopyov">
									</div>

									<div class="form-group">
										<label>Your password:</label>
										<input type="password" class="form-control" placeholder="Your strong password">
									</div>

									<div class="form-group">
										<label>Your message:</label>
										<textarea rows="3" cols="3" class="form-control" placeholder="Enter your message here"></textarea>
									</div>

									<div class="d-flex justify-content-start align-items-center">
										<button type="submit" class="btn btn-light">Cancel</button>
										<button type="submit" class="btn bg-blue ml-3">Submit <i class="icon-paperplane ml-2"></i></button>
									</div>
								</form>
							</div>
		                </div>
		                <!-- /left aligned buttons -->


		        		<!-- Text + button -->
			            <div class="card">
							<div class="card-header header-elements-inline">
				                <h6 class="card-title">Text + button</h6>
								<div class="header-elements">
									<div class="list-icons">
				                		<a class="list-icons-item" data-action="collapse"></a>
				                		<a class="list-icons-item" data-action="reload"></a>
				                		<a class="list-icons-item" data-action="remove"></a>
				                	</div>
			                	</div>
							</div>

			                <div class="card-body">
			                	<form action="#">
									<div class="form-group">
										<label>Your name:</label>
										<input type="text" class="form-control" placeholder="Eugene Kopyov">
									</div>

									<div class="form-group">
										<label>Your password:</label>
										<input type="password" class="form-control" placeholder="Your strong password">
									</div>

									<div class="form-group">
										<label>Your message:</label>
										<textarea rows="3" cols="3" class="form-control" placeholder="Enter your message here"></textarea>
									</div>

									<div class="d-flex justify-content-between align-items-center">
										<span class="text-muted"><i class="icon-code"></i> &nbsp; Some HTML is supported</span>
										<button type="submit" class="btn bg-blue ml-3">Submit <i class="icon-paperplane ml-2"></i></button>
									</div>
								</form>
							</div>
		                </div>
		                <!-- /text + button -->


		        		<!-- Inline list + button -->
			            <div class="card">
							<div class="card-header header-elements-inline">
				                <h6 class="card-title">Inline list + button</h6>
								<div class="header-elements">
									<div class="list-icons">
				                		<a class="list-icons-item" data-action="collapse"></a>
				                		<a class="list-icons-item" data-action="reload"></a>
				                		<a class="list-icons-item" data-action="remove"></a>
				                	</div>
			                	</div>
							</div>

			                <div class="card-body">
			                	<form action="#">
								<div class="form-group">
									<label>Your name:</label>
									<input type="text" class="form-control" placeholder="Eugene Kopyov">
								</div>

								<div class="form-group">
									<label>Your password:</label>
									<input type="password" class="form-control" placeholder="Your strong password">
								</div>

								<div class="form-group">
									<label>Your message:</label>
									<textarea rows="3" cols="3" class="form-control" placeholder="Enter your message here"></textarea>
								</div>

								<div class="d-flex justify-content-between align-items-center">
									<div class="list-inline mb-0">
				                		<a href="#" class="list-inline-item text-default">Support</a>
				                		<a href="#" class="list-inline-item text-default">Terms</a>
				                		<a href="#" class="list-inline-item text-default">Policy</a>
				                	</div>

									<button type="submit" class="btn bg-blue ml-3">Submit <i class="icon-paperplane ml-2"></i></button>
								</div>
								</form>
							</div>
		                </div>
		                <!-- /inline list + button -->


		        		<!-- Checkbox + button -->
			            <div class="card">
							<div class="card-header header-elements-inline">
				                <h6 class="card-title">Checkbox + button</h6>
								<div class="header-elements">
									<div class="list-icons">
				                		<a class="list-icons-item" data-action="collapse"></a>
				                		<a class="list-icons-item" data-action="reload"></a>
				                		<a class="list-icons-item" data-action="remove"></a>
				                	</div>
			                	</div>
							</div>

			                <div class="card-body">
			                	<form action="#">
									<div class="form-group">
										<label>Your name:</label>
										<input type="text" class="form-control" placeholder="Eugene Kopyov">
									</div>

									<div class="form-group">
										<label>Your password:</label>
										<input type="password" class="form-control" placeholder="Your strong password">
									</div>

									<div class="form-group">
										<label>Your message:</label>
										<textarea rows="3" cols="3" class="form-control" placeholder="Enter your message here"></textarea>
									</div>

									<div class="d-flex justify-content-between align-items-center">
										<div class="form-check form-check-inline">
											<label class="form-check-label">
												<input type="checkbox" class="form-control-styled" checked data-fouc>
												Save as template
											</label>
										</div>

										<button type="submit" class="btn bg-blue ml-3">Submit <i class="icon-paperplane ml-2"></i></button>
									</div>
								</form>
							</div>
		                </div>
		                <!-- /checkbox + button -->

					</div>

					<div class="col-md-4">

		                <!-- Right aligned buttons -->
			            <div class="card">
							<div class="card-header header-elements-inline">
				                <h6 class="card-title">Right aligned buttons</h6>
								<div class="header-elements">
									<div class="list-icons">
				                		<a class="list-icons-item" data-action="collapse"></a>
				                		<a class="list-icons-item" data-action="reload"></a>
				                		<a class="list-icons-item" data-action="remove"></a>
				                	</div>
			                	</div>
							</div>

			                <div class="card-body">
			                	<form action="#">
									<div class="form-group">
										<label>Your name:</label>
										<input type="text" class="form-control" placeholder="Eugene Kopyov">
									</div>

									<div class="form-group">
										<label>Your password:</label>
										<input type="password" class="form-control" placeholder="Your strong password">
									</div>

									<div class="form-group">
										<label>Your message:</label>
										<textarea rows="3" cols="3" class="form-control" placeholder="Enter your message here"></textarea>
									</div>

									<div class="d-flex justify-content-end align-items-center">
										<button type="submit" class="btn btn-light">Preview</button>
										<button type="submit" class="btn bg-blue ml-3">Submit <i class="icon-paperplane ml-2"></i></button>
									</div>
								</form>
							</div>
		                </div>
		                <!-- /right aligned buttons -->


			        	<!-- Text link + button -->
			            <div class="card">
							<div class="card-header header-elements-inline">
				                <h6 class="card-title">Text link + button</h6>
								<div class="header-elements">
									<div class="list-icons">
				                		<a class="list-icons-item" data-action="collapse"></a>
				                		<a class="list-icons-item" data-action="reload"></a>
				                		<a class="list-icons-item" data-action="remove"></a>
				                	</div>
			                	</div>
							</div>

			                <div class="card-body">
			                	<form action="#">
									<div class="form-group">
										<label>Your name:</label>
										<input type="text" class="form-control" placeholder="Eugene Kopyov">
									</div>

									<div class="form-group">
										<label>Your password:</label>
										<input type="password" class="form-control" placeholder="Your strong password">
									</div>

									<div class="form-group">
										<label>Your message:</label>
										<textarea rows="3" cols="3" class="form-control" placeholder="Enter your message here"></textarea>
									</div>

									<div class="d-flex justify-content-between align-items-center">
										<a href="#">Can't send message?</a>
										<button type="submit" class="btn bg-blue ml-3">Submit <i class="icon-paperplane ml-2"></i></button>
									</div>
								</form>
							</div>
		                </div>
		                <!-- /text link + button -->


		        		<!-- Icon list + button -->
			            <div class="card">
							<div class="card-header header-elements-inline">
				                <h6 class="card-title">Icon list + button</h6>
								<div class="header-elements">
									<div class="list-icons">
				                		<a class="list-icons-item" data-action="collapse"></a>
				                		<a class="list-icons-item" data-action="reload"></a>
				                		<a class="list-icons-item" data-action="remove"></a>
				                	</div>
			                	</div>
							</div>

			                <div class="card-body">
			                	<form action="#">
									<div class="form-group">
										<label>Your name:</label>
										<input type="text" class="form-control" placeholder="Eugene Kopyov">
									</div>

									<div class="form-group">
										<label>Your password:</label>
										<input type="password" class="form-control" placeholder="Your strong password">
									</div>

									<div class="form-group">
										<label>Your message:</label>
										<textarea rows="3" cols="3" class="form-control" placeholder="Enter your message here"></textarea>
									</div>

									<div class="d-flex justify-content-between align-items-center">
										<div class="list-icons">
					                		<a href="#" class="list-icons-item mr-2"><i class="icon-github"></i></a>
					                		<a href="#" class="list-icons-item mr-2"><i class="icon-stackoverflow"></i></a>
					                		<a href="#" class="list-icons-item mr-2"><i class="icon-google-drive"></i></a>
					                	</div>

										<button type="submit" class="btn bg-blue ml-3">Submit <i class="icon-paperplane ml-2"></i></button>
									</div>
								</form>
							</div>
		                </div>
		                <!-- /icon list + button -->


		        		<!-- Switch + button -->
			            <div class="card">
							<div class="card-header header-elements-inline">
				                <h6 class="card-title">Switch + button</h6>
								<div class="header-elements">
									<div class="list-icons">
				                		<a class="list-icons-item" data-action="collapse"></a>
				                		<a class="list-icons-item" data-action="reload"></a>
				                		<a class="list-icons-item" data-action="remove"></a>
				                	</div>
			                	</div>
							</div>

			                <div class="card-body">
			                	<form action="#">
									<div class="form-group">
										<label>Your name:</label>
										<input type="text" class="form-control" placeholder="Eugene Kopyov">
									</div>

									<div class="form-group">
										<label>Your password:</label>
										<input type="password" class="form-control" placeholder="Your strong password">
									</div>

									<div class="form-group">
										<label>Your message:</label>
										<textarea rows="3" cols="3" class="form-control" placeholder="Enter your message here"></textarea>
									</div>

									<div class="d-flex justify-content-between align-items-center">
										<div class="form-check form-check-switchery mb-0">
											<label class="form-check-label">
												<input type="checkbox" class="form-control-switchery" checked data-fouc>
												Start discussion
											</label>
										</div>

										<button type="submit" class="btn bg-blue ml-3">Submit <i class="icon-paperplane ml-2"></i></button>
									</div>
								</form>
							</div>
		                </div>
	                	<!-- /switch + button -->

					</div>

					<div class="col-md-4">

			        	<!-- Left and right buttons -->
			            <div class="card">
							<div class="card-header header-elements-inline">
				                <h6 class="card-title">Left/right buttons</h6>
								<div class="header-elements">
									<div class="list-icons">
				                		<a class="list-icons-item" data-action="collapse"></a>
				                		<a class="list-icons-item" data-action="reload"></a>
				                		<a class="list-icons-item" data-action="remove"></a>
				                	</div>
			                	</div>
							</div>

			                <div class="card-body">
			                	<form action="#">
									<div class="form-group">
										<label>Your name:</label>
										<input type="text" class="form-control" placeholder="Eugene Kopyov">
									</div>

									<div class="form-group">
										<label>Your password:</label>
										<input type="password" class="form-control" placeholder="Your strong password">
									</div>

									<div class="form-group">
										<label>Your message:</label>
										<textarea rows="3" cols="3" class="form-control" placeholder="Enter your message here"></textarea>
									</div>

									<div class="d-flex justify-content-between align-items-center">
										<button type="submit" class="btn btn-light">Cancel</button>
										<button type="submit" class="btn bg-blue">Submit <i class="icon-paperplane ml-2"></i></button>
									</div>
								</form>
							</div>
		                </div>
		                <!-- /left and right buttons -->


		        		<!-- Status text + button -->
			            <div class="card">
							<div class="card-header header-elements-inline">
				                <h6 class="card-title">Status text + button</h6>
								<div class="header-elements">
									<div class="list-icons">
				                		<a class="list-icons-item" data-action="collapse"></a>
				                		<a class="list-icons-item" data-action="reload"></a>
				                		<a class="list-icons-item" data-action="remove"></a>
				                	</div>
			                	</div>
							</div>

			                <div class="card-body">
			                	<form action="#">
									<div class="form-group">
										<label>Your name:</label>
										<input type="text" class="form-control" placeholder="Eugene Kopyov">
									</div>

									<div class="form-group">
										<label>Your password:</label>
										<input type="password" class="form-control" placeholder="Your strong password">
									</div>

									<div class="form-group">
										<label>Your message:</label>
										<textarea rows="3" cols="3" class="form-control" placeholder="Enter your message here"></textarea>
									</div>

									<div class="d-flex justify-content-between align-items-center">
										<span><i class="icon-spinner2 spinner mr-2"></i> Processing...</span>
										<button type="submit" class="btn bg-blue ml-3">Submit <i class="icon-paperplane ml-2"></i></button>
									</div>
								</form>
							</div>
		                </div>
		                <!-- /status text + button -->


		        		<!-- Left alternate button -->
			            <div class="card">
							<div class="card-header header-elements-inline">
				                <h6 class="card-title">Left alternate button</h6>
								<div class="header-elements">
									<div class="list-icons">
				                		<a class="list-icons-item" data-action="collapse"></a>
				                		<a class="list-icons-item" data-action="reload"></a>
				                		<a class="list-icons-item" data-action="remove"></a>
				                	</div>
			                	</div>
							</div>

			                <div class="card-body">
			                	<form action="#">
									<div class="form-group">
										<label>Your name:</label>
										<input type="text" class="form-control" placeholder="Eugene Kopyov">
									</div>

									<div class="form-group">
										<label>Your password:</label>
										<input type="password" class="form-control" placeholder="Your strong password">
									</div>

									<div class="form-group">
										<label>Your message:</label>
										<textarea rows="3" cols="3" class="form-control" placeholder="Enter your message here"></textarea>
									</div>

									<div class="d-flex justify-content-between align-items-center">
										<a href="#" class="btn btn-light btn-icon"><i class="icon-help"></i></a>
										<div class="d-inline-flex">
											<button type="reset" class="btn btn-light">Cancel</button>
											<button type="submit" class="btn bg-blue ml-3">Submit <i class="icon-paperplane ml-2"></i></button>
										</div>
									</div>
								</form>
							</div>
		                </div>
		                <!-- /left alternate button -->


		        		<!-- Select + button -->
			            <div class="card">
							<div class="card-header header-elements-inline">
				                <h6 class="card-title">Select + button</h6>
								<div class="header-elements">
									<div class="list-icons">
				                		<a class="list-icons-item" data-action="collapse"></a>
				                		<a class="list-icons-item" data-action="reload"></a>
				                		<a class="list-icons-item" data-action="remove"></a>
				                	</div>
			                	</div>
							</div>

			                <div class="card-body">
			                	<form action="#">
									<div class="form-group">
										<label>Your name:</label>
										<input type="text" class="form-control" placeholder="Eugene Kopyov">
									</div>

									<div class="form-group">
										<label>Your password:</label>
										<input type="password" class="form-control" placeholder="Your strong password">
									</div>

									<div class="form-group">
										<label>Your message:</label>
										<textarea rows="3" cols="3" class="form-control" placeholder="Enter your message here"></textarea>
									</div>

									<div class="d-lg-flex justify-content-between align-items-center flex-wrap">
										<div class="wmin-lg-200 mb-3 mb-lg-0">
											<select class="form-control form-control-select2" data-placeholder="Actions" data-fouc>
												<option></option>
												<option value="1">Send to all contacts</option>
												<option value="2">Send to my contacts</option>
												<option value="3">Save as draft</option>
												<option value="4">Don't have in Sent</option>
											</select>
										</div>

										<button type="submit" class="btn bg-blue ml-lg-3">Submit <i class="icon-paperplane ml-2"></i></button>
									</div>
								</form>
							</div>
		                </div>
		                <!-- /select + button -->

					</div>
				</div>
				<!-- /form action components -->


				<!-- Form actions positioning -->
				<div class="mb-3 pt-2">
					<h6 class="mb-0 font-weight-semibold">
						Form actions alignment
					</h6>
					<span class="text-muted d-block">Using text or flexbox utility classes</span>
				</div>

				<div class="row">
					<div class="col-md-4">
			        	
			        	<!-- Left alignment -->
			            <div class="card">
							<div class="card-header header-elements-inline">
				                <h6 class="card-title">Left aligned</h6>
								<div class="header-elements">
									<div class="list-icons">
				                		<a class="list-icons-item" data-action="collapse"></a>
				                		<a class="list-icons-item" data-action="reload"></a>
				                		<a class="list-icons-item" data-action="remove"></a>
				                	</div>
			                	</div>
							</div>

			                <div class="card-body">
			                	<form action="#">
									<div class="form-group">
										<label>Your name:</label>
										<input type="text" class="form-control" placeholder="Eugene Kopyov">
									</div>

									<div class="form-group">
										<label>Your password:</label>
										<input type="password" class="form-control" placeholder="Your strong password">
									</div>

									<div class="form-group">
										<label>Your message:</label>
										<textarea rows="3" cols="3" class="form-control" placeholder="Enter your message here"></textarea>
									</div>

									<button type="submit" class="btn bg-teal-400">Submit form <i class="icon-paperplane ml-2"></i></button>
								</form>
							</div>
		                </div>
		                <!-- /left alignment -->

					</div>

					<div class="col-md-4">
			        	
		        		<!-- Centered buttons -->
			            <div class="card">
							<div class="card-header header-elements-inline">
				                <h6 class="card-title">Centered actions</h6>
								<div class="header-elements">
									<div class="list-icons">
				                		<a class="list-icons-item" data-action="collapse"></a>
				                		<a class="list-icons-item" data-action="reload"></a>
				                		<a class="list-icons-item" data-action="remove"></a>
				                	</div>
			                	</div>
							</div>

			                <div class="card-body">
			                	<form action="#">
									<div class="form-group">
										<label>Your name:</label>
										<input type="text" class="form-control" placeholder="Eugene Kopyov">
									</div>

									<div class="form-group">
										<label>Your password:</label>
										<input type="password" class="form-control" placeholder="Your strong password">
									</div>

									<div class="form-group">
										<label>Your message:</label>
										<textarea rows="3" cols="3" class="form-control" placeholder="Enter your message here"></textarea>
									</div>

									<div class="text-center">
										<button type="submit" class="btn bg-teal-400">Submit form <i class="icon-paperplane ml-2"></i></button>
									</div>
								</form>
							</div>
		                </div>
		                <!-- /centered buttons -->

					</div>

					<div class="col-md-4">
			        	
		        		<!-- Right alignment -->
			            <div class="card">
							<div class="card-header header-elements-inline">
				                <h6 class="card-title">Right aligned</h6>
								<div class="header-elements">
									<div class="list-icons">
				                		<a class="list-icons-item" data-action="collapse"></a>
				                		<a class="list-icons-item" data-action="reload"></a>
				                		<a class="list-icons-item" data-action="remove"></a>
				                	</div>
			                	</div>
							</div>

			                <div class="card-body">
			                	<form action="#">
									<div class="form-group">
										<label>Your name: </label>
										<input type="text" class="form-control" placeholder="Eugene Kopyov">
									</div>

									<div class="form-group">
										<label>Your password: </label>
										<input type="password" class="form-control" placeholder="Your strong password">
									</div>

									<div class="form-group">
										<label>Your message: </label>
										<textarea rows="3" cols="3" class="form-control" placeholder="Enter your message here"></textarea>
									</div>

									<div class="text-right">
										<button type="submit" class="btn bg-teal-400">Submit form <i class="icon-paperplane ml-2"></i></button>
									</div>
								</form>
							</div>
		                </div>
		                <!-- /right alignment -->

					</div>
				</div>
				<!-- /form actions positioning -->


				<!-- Optional styles -->
				<div class="mb-3 pt-2">
					<h6 class="mb-0 font-weight-semibold">
						Optional styles
					</h6>
					<span class="text-muted d-block">White, grey and custom backgrounds</span>
				</div>

				<div class="row">
					<div class="col-md-4">

						<!-- Dark background -->
		                <form action="#">
				            <div class="card">
								<div class="card-header header-elements-inline">
					                <h6 class="card-title">Dark background</h6>
									<div class="header-elements">
										<div class="list-icons">
					                		<a class="list-icons-item" data-action="collapse"></a>
					                		<a class="list-icons-item" data-action="reload"></a>
					                		<a class="list-icons-item" data-action="remove"></a>
					                	</div>
				                	</div>
								</div>

				                <div class="card-body">
									<div class="form-group">
										<label>Your name:</label>
										<input type="text" class="form-control" placeholder="Eugene Kopyov">
									</div>

									<div class="form-group">
										<label>Your password:</label>
										<input type="password" class="form-control" placeholder="Your strong password">
									</div>

									<div class="form-group mb-0">
										<label>Your message:</label>
										<textarea rows="3" cols="3" class="form-control" placeholder="Enter your message here"></textarea>
									</div>
								</div>

								<div class="card-footer d-flex justify-content-between align-items-center">
									<button type="submit" class="btn btn-light">Cancel</button>
									<button type="submit" class="btn bg-blue">Submit form <i class="icon-paperplane ml-2"></i></button>
								</div>
			                </div>
			            </form>
			            <!-- /dark background -->

					</div>

					<div class="col-md-4">

						<!-- Light background -->
		                <form action="#">
				            <div class="card">
								<div class="card-header header-elements-inline">
					                <h6 class="card-title">Light background</h6>
									<div class="header-elements">
										<div class="list-icons">
					                		<a class="list-icons-item" data-action="collapse"></a>
					                		<a class="list-icons-item" data-action="reload"></a>
					                		<a class="list-icons-item" data-action="remove"></a>
					                	</div>
				                	</div>
								</div>

				                <div class="card-body">
									<div class="form-group">
										<label>Your name:</label>
										<input type="text" class="form-control" placeholder="Eugene Kopyov">
									</div>

									<div class="form-group">
										<label>Your password:</label>
										<input type="password" class="form-control" placeholder="Your strong password">
									</div>

									<div class="form-group mb-0">
										<label>Your message:</label>
										<textarea rows="3" cols="3" class="form-control" placeholder="Enter your message here"></textarea>
									</div>
								</div>

								<div class="card-footer d-flex justify-content-between align-items-center bg-light">
									<button type="submit" class="btn btn-light">Cancel</button>
									<button type="submit" class="btn bg-blue">Submit form <i class="icon-paperplane ml-2"></i></button>
								</div>
			                </div>
			            </form>
			            <!-- /light background -->

					</div>

					<div class="col-md-4">

						<!-- Custom background -->
		                <form action="#">
				            <div class="card">
								<div class="card-header header-elements-inline">
					                <h6 class="card-title">Custom background</h6>
									<div class="header-elements">
										<div class="list-icons">
					                		<a class="list-icons-item" data-action="collapse"></a>
					                		<a class="list-icons-item" data-action="reload"></a>
					                		<a class="list-icons-item" data-action="remove"></a>
					                	</div>
				                	</div>
								</div>

				                <div class="card-body">
									<div class="form-group">
										<label>Your name:</label>
										<input type="text" class="form-control" placeholder="Eugene Kopyov">
									</div>

									<div class="form-group">
										<label>Your password:</label>
										<input type="password" class="form-control" placeholder="Your strong password">
									</div>

									<div class="form-group mb-0">
										<label>Your message:</label>
										<textarea rows="3" cols="3" class="form-control" placeholder="Enter your message here"></textarea>
									</div>
								</div>

								<div class="card-footer d-flex justify-content-between align-items-center bg-teal-400 border-top-0">
									<button type="submit" class="btn bg-transparent text-white border-white border-2">Cancel</button>
									<button type="submit" class="btn btn-outline bg-white text-white border-white border-2">Submit form <i class="icon-paperplane ml-2"></i></button>
								</div>
			                </div>
			            </form>
			            <!-- /custom background -->

					</div>
				</div>
				<!-- /optional styles -->


				<!-- In horizontal forms -->
				<div class="mb-3 pt-2">
					<h6 class="mb-0 font-weight-semibold">
						In horizontal forms
					</h6>
					<span class="text-muted d-block">Styling and alignment options</span>
				</div>

				<div class="row">
					<div class="col-md-6">
		                
	                	<!-- Left buttons -->
			            <div class="card">
							<div class="card-header header-elements-inline">
				                <h6 class="card-title">Left buttons</h6>
								<div class="header-elements">
									<div class="list-icons">
				                		<a class="list-icons-item" data-action="collapse"></a>
				                		<a class="list-icons-item" data-action="reload"></a>
				                		<a class="list-icons-item" data-action="remove"></a>
				                	</div>
			                	</div>
							</div>

			                <div class="card-body">
			                	<form action="#">
									<div class="form-group row">
										<label class="col-form-label col-lg-2">Your name:</label>
										<div class="col-lg-10">
											<input type="text" class="form-control" placeholder="Eugene Kopyov">
										</div>
									</div>

									<div class="form-group row">
										<label class="col-form-label col-lg-2">Your password:</label>
										<div class="col-lg-10">
											<input type="password" class="form-control" placeholder="Your strong password">
										</div>
									</div>

									<div class="form-group row">
										<label class="col-form-label col-lg-2">Your message:</label>
										<div class="col-lg-10">
											<textarea rows="3" cols="3" class="form-control" placeholder="Enter your message here"></textarea>
										</div>
									</div>

									<div class="form-group row mb-0">
										<div class="col-lg-10 ml-lg-auto">
											<button type="submit" class="btn btn-light">Cancel</button>
											<button type="submit" class="btn bg-blue ml-3">Submit <i class="icon-paperplane ml-2"></i></button>
										</div>
									</div>
								</form>
							</div>
		                </div>
		                <!-- /left buttons -->


		                <!-- Left and right buttons -->
			            <div class="card">
							<div class="card-header header-elements-inline">
				                <h6 class="card-title">Left and right buttons</h6>
								<div class="header-elements">
									<div class="list-icons">
				                		<a class="list-icons-item" data-action="collapse"></a>
				                		<a class="list-icons-item" data-action="reload"></a>
				                		<a class="list-icons-item" data-action="remove"></a>
				                	</div>
			                	</div>
							</div>

			                <div class="card-body">
			                	<form action="#">
									<div class="form-group row">
										<label class="col-form-label col-lg-2">Your name:</label>
										<div class="col-lg-10">
											<input type="text" class="form-control" placeholder="Eugene Kopyov">
										</div>
									</div>

									<div class="form-group row">
										<label class="col-form-label col-lg-2">Your password:</label>
										<div class="col-lg-10">
											<input type="password" class="form-control" placeholder="Your strong password">
										</div>
									</div>

									<div class="form-group row">
										<label class="col-form-label col-lg-2">Your message:</label>
										<div class="col-lg-10">
											<textarea rows="3" cols="3" class="form-control" placeholder="Enter your message here"></textarea>
										</div>
									</div>

									<div class="form-group row mb-0">
										<div class="col-lg-10 ml-lg-auto">
											<div class="d-flex justify-content-between align-items-center">
												<button type="submit" class="btn btn-light">Cancel</button>
												<button type="submit" class="btn bg-blue">Submit <i class="icon-paperplane ml-2"></i></button>
											</div>
										</div>
									</div>
								</form>
							</div>
		                </div>
		                <!-- /left and right buttons -->

					</div>

					<div class="col-md-6">
		                
		                <!-- Right buttons -->
			            <div class="card">
							<div class="card-header header-elements-inline">
				                <h6 class="card-title">Right buttons</h6>
								<div class="header-elements">
									<div class="list-icons">
				                		<a class="list-icons-item" data-action="collapse"></a>
				                		<a class="list-icons-item" data-action="reload"></a>
				                		<a class="list-icons-item" data-action="remove"></a>
				                	</div>
			                	</div>
							</div>

			                <div class="card-body">
			                	<form action="#">
									<div class="form-group row">
										<label class="col-form-label col-lg-2">Your name:</label>
										<div class="col-lg-10">
											<input type="text" class="form-control" placeholder="Eugene Kopyov">
										</div>
									</div>

									<div class="form-group row">
										<label class="col-form-label col-lg-2">Your password:</label>
										<div class="col-lg-10">
											<input type="password" class="form-control" placeholder="Your strong password">
										</div>
									</div>

									<div class="form-group row">
										<label class="col-form-label col-lg-2">Your message:</label>
										<div class="col-lg-10">
											<textarea rows="3" cols="3" class="form-control" placeholder="Enter your message here"></textarea>
										</div>
									</div>

									<div class="form-group row mb-0">
										<div class="col-lg-10 ml-lg-auto text-right">
											<button type="submit" class="btn btn-light">Cancel</button>
											<button type="submit" class="btn bg-blue ml-3">Submit <i class="icon-paperplane ml-2"></i></button>
										</div>
									</div>
								</form>
							</div>
		                </div>
		                <!-- /right buttons -->


	                	<!-- Left and right buttons (reversed) -->
			            <div class="card">
							<div class="card-header header-elements-inline">
				                <h6 class="card-title">Left and right buttons (reversed)</h6>
								<div class="header-elements">
									<div class="list-icons">
				                		<a class="list-icons-item" data-action="collapse"></a>
				                		<a class="list-icons-item" data-action="reload"></a>
				                		<a class="list-icons-item" data-action="remove"></a>
				                	</div>
			                	</div>
							</div>

			                <div class="card-body">
			                	<form action="#">
									<div class="form-group row">
										<label class="col-form-label col-lg-2">Your name:</label>
										<div class="col-lg-10">
											<input type="text" class="form-control" placeholder="Eugene Kopyov">
										</div>
									</div>

									<div class="form-group row">
										<label class="col-form-label col-lg-2">Your password:</label>
										<div class="col-lg-10">
											<input type="password" class="form-control" placeholder="Your strong password">
										</div>
									</div>

									<div class="form-group row">
										<label class="col-form-label col-lg-2">Your message:</label>
										<div class="col-lg-10">
											<textarea rows="3" cols="3" class="form-control" placeholder="Enter your message here"></textarea>
										</div>
									</div>

									<div class="form-group row mb-0">
										<div class="col-lg-10 ml-lg-auto">
											<div class="d-flex justify-content-between align-items-center">
												<button type="submit" class="btn bg-blue">Submit <i class="icon-paperplane ml-2"></i></button>
												<button type="submit" class="btn btn-light">Cancel</button>
											</div>
										</div>
									</div>
								</form>
							</div>
		                </div>
		                <!-- /left and right buttons (reversed) -->

					</div>
				</div>
				<!-- /in horizontal forms -->


				<!-- Optional button styles -->
				<div class="mb-3 pt-2">
					<h6 class="mb-0 font-weight-semibold">
						Optional button styles
					</h6>
					<span class="text-muted d-block">Action buttons placement and spacing</span>
				</div>

				<div class="row">
					<div class="col-md-6">

						<!-- Dark background, left button spacing -->
		                <form action="#">
				            <div class="card">
								<div class="card-header bg-transparent header-elements-inline">
					                <h6 class="card-title">Dark bg and left spacing</h6>
									<div class="header-elements">
										<div class="list-icons">
					                		<a class="list-icons-item" data-action="collapse"></a>
					                		<a class="list-icons-item" data-action="reload"></a>
					                		<a class="list-icons-item" data-action="remove"></a>
					                	</div>
				                	</div>
								</div>

								<div class="card-footer">
									<div class="row">
										<div class="col-lg-10 ml-lg-auto">
											<div class="d-flex justify-content-between align-items-center">
												<button type="submit" class="btn btn-light">Cancel</button>
												<button type="submit" class="btn bg-blue ml-3">Submit <i class="icon-paperplane ml-2"></i></button>
											</div>
										</div>
									</div>
								</div>

				                <div class="card-body">
									<div class="form-group row">
										<label class="col-form-label col-lg-2">Your name:</label>
										<div class="col-lg-10">
											<input type="text" class="form-control" placeholder="Eugene Kopyov">
										</div>
									</div>

									<div class="form-group row">
										<label class="col-form-label col-lg-2">Your password:</label>
										<div class="col-lg-10">
											<input type="password" class="form-control" placeholder="Your strong password">
										</div>
									</div>

									<div class="form-group row mb-0">
										<label class="col-form-label col-lg-2">Your message:</label>
										<div class="col-lg-10">
											<textarea rows="3" cols="3" class="form-control" placeholder="Enter your message here"></textarea>
										</div>
									</div>
								</div>

								<div class="card-footer">
									<div class="row">
										<div class="col-lg-10 ml-lg-auto">
											<div class="d-flex justify-content-between align-items-center">
												<button type="submit" class="btn btn-light">Cancel</button>
												<button type="submit" class="btn bg-blue ml-3">Submit <i class="icon-paperplane ml-2"></i></button>
											</div>
										</div>
									</div>
								</div>
			                </div>
			            </form>
			            <!-- /dark background, left button spacing -->


			            <!-- Dark background, no left button spacing -->
		                <form action="#">
				            <div class="card">
								<div class="card-header bg-transparent header-elements-inline">
					                <h6 class="card-title">Dark background</h6>
									<div class="header-elements">
										<div class="list-icons">
					                		<a class="list-icons-item" data-action="collapse"></a>
					                		<a class="list-icons-item" data-action="reload"></a>
					                		<a class="list-icons-item" data-action="remove"></a>
					                	</div>
				                	</div>
								</div>

								<div class="card-footer">
									<div class="d-flex justify-content-between align-items-center">
										<button type="submit" class="btn btn-light">Cancel</button>
										<button type="submit" class="btn bg-blue ml-3">Submit <i class="icon-paperplane ml-2"></i></button>
									</div>
								</div>

				                <div class="card-body">
									<div class="form-group row">
										<label class="col-form-label col-lg-2">Your name:</label>
										<div class="col-lg-10">
											<input type="text" class="form-control" placeholder="Eugene Kopyov">
										</div>
									</div>

									<div class="form-group row">
										<label class="col-form-label col-lg-2">Your password:</label>
										<div class="col-lg-10">
											<input type="password" class="form-control" placeholder="Your strong password">
										</div>
									</div>

									<div class="form-group row mb-0">
										<label class="col-form-label col-lg-2">Your message:</label>
										<div class="col-lg-10">
											<textarea rows="3" cols="3" class="form-control" placeholder="Enter your message here"></textarea>
										</div>
									</div>
								</div>

								<div class="card-footer">
									<div class="d-flex justify-content-between align-items-center">
										<button type="submit" class="btn btn-light">Cancel</button>
										<button type="submit" class="btn bg-blue ml-3">Submit <i class="icon-paperplane ml-2"></i></button>
									</div>
								</div>
			                </div>
			            </form>
			            <!-- /dark background, no left button spacing -->

					</div>

					<div class="col-md-6">

						<!-- Light background, left button spacing -->
		                <form action="#">
				            <div class="card">
								<div class="card-header bg-transparent header-elements-inline">
					                <h6 class="card-title">Light bg and left spacing</h6>
									<div class="header-elements">
										<div class="list-icons">
					                		<a class="list-icons-item" data-action="collapse"></a>
					                		<a class="list-icons-item" data-action="reload"></a>
					                		<a class="list-icons-item" data-action="remove"></a>
					                	</div>
				                	</div>
								</div>

								<div class="card-footer bg-light">
									<div class="row">
										<div class="col-lg-10 ml-lg-auto">
											<div class="d-flex justify-content-between align-items-center">
												<button type="submit" class="btn btn-light">Cancel</button>
												<button type="submit" class="btn bg-blue ml-3">Submit <i class="icon-paperplane ml-2"></i></button>
											</div>
										</div>
									</div>
								</div>

				                <div class="card-body">
									<div class="form-group row">
										<label class="col-form-label col-lg-2">Your name:</label>
										<div class="col-lg-10">
											<input type="text" class="form-control" placeholder="Eugene Kopyov">
										</div>
									</div>

									<div class="form-group row">
										<label class="col-form-label col-lg-2">Your password:</label>
										<div class="col-lg-10">
											<input type="password" class="form-control" placeholder="Your strong password">
										</div>
									</div>

									<div class="form-group row mb-0">
										<label class="col-form-label col-lg-2">Your message:</label>
										<div class="col-lg-10">
											<textarea rows="3" cols="3" class="form-control" placeholder="Enter your message here"></textarea>
										</div>
									</div>
								</div>

								<div class="card-footer bg-light">
									<div class="row">
										<div class="col-lg-10 ml-lg-auto">
											<div class="d-flex justify-content-between align-items-center">
												<button type="submit" class="btn btn-light">Cancel</button>
												<button type="submit" class="btn bg-blue ml-3">Submit <i class="icon-paperplane ml-2"></i></button>
											</div>
										</div>
									</div>
								</div>
			                </div>
			            </form>
			            <!-- /light background, left button spacing -->


			            <!-- Light background, no left button spacing -->
		                <form action="#">
				            <div class="card">
								<div class="card-header bg-transparent header-elements-inline">
					                <h6 class="card-title">Light background</h6>
									<div class="header-elements">
										<div class="list-icons">
					                		<a class="list-icons-item" data-action="collapse"></a>
					                		<a class="list-icons-item" data-action="reload"></a>
					                		<a class="list-icons-item" data-action="remove"></a>
					                	</div>
				                	</div>
								</div>

								<div class="card-footer bg-light">
									<div class="d-flex justify-content-between align-items-center">
										<button type="submit" class="btn btn-light">Cancel</button>
										<button type="submit" class="btn bg-blue ml-3">Submit <i class="icon-paperplane ml-2"></i></button>
									</div>
								</div>

				                <div class="card-body">
									<div class="form-group row">
										<label class="col-form-label col-lg-2">Your name:</label>
										<div class="col-lg-10">
											<input type="text" class="form-control" placeholder="Eugene Kopyov">
										</div>
									</div>

									<div class="form-group row">
										<label class="col-form-label col-lg-2">Your password:</label>
										<div class="col-lg-10">
											<input type="password" class="form-control" placeholder="Your strong password">
										</div>
									</div>

									<div class="form-group row mb-0">
										<label class="col-form-label col-lg-2">Your message:</label>
										<div class="col-lg-10">
											<textarea rows="3" cols="3" class="form-control" placeholder="Enter your message here"></textarea>
										</div>
									</div>
								</div>

								<div class="card-footer bg-light">
									<div class="d-flex justify-content-between align-items-center">
										<button type="submit" class="btn btn-light">Cancel</button>
										<button type="submit" class="btn bg-blue ml-3">Submit <i class="icon-paperplane ml-2"></i></button>
									</div>
								</div>
			                </div>
			            </form>
			            <!-- /light background, no left button spacing -->

					</div>
				</div>
				<!-- /optional button styles -->

			</div>
			<!-- /content area -->


			<!-- Footer -->
			<div class="navbar navbar-expand-lg navbar-light">
				<div class="text-center d-lg-none w-100">
					<button type="button" class="navbar-toggler dropdown-toggle" data-toggle="collapse" data-target="#navbar-footer">
						<i class="icon-unfold mr-2"></i>
						Footer
					</button>
				</div>

				<div class="navbar-collapse collapse" id="navbar-footer">
					<span class="navbar-text">
						&copy; 2020 - 2021 <a href="#">Conaffex Project</a> by <a href="" target="_blank">José Daniel Navarro</a>
					</span>
					
				</div>
			</div>
			<!-- /footer -->

		</div>
		<!-- /content wrapper -->

	</div>
	<!-- /page content -->	

</body>
</html>